[Unit]
Description=edu-rewolucja application
After=network.target

[Service]
User=app
Group=app
WorkingDirectory=/home/app/app/src/
Environment="PATH=/home/app/app/venv/bin"
EnvironmentFile=/home/app/.env
ExecStart=/home/app/app/venv/bin/gunicorn -w 1 -k uvicorn.workers.UvicornWorker app.main:app --reload --bind 0.0.0.0:3000

[Install]
WantedBy=multi-user.target