<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>App</title>
</head>
<body>
    <style>
        .box{
            background-color: rgb(212, 212, 208);
            border: solid grey;
            width: 300px;
            height: 200px;
            margin-top: 10px;
            /* position: absolute; */
        }
        .box.signup{
            height: 300px;
        }
        .panel{
            background-color: rgb(212, 212, 208);
            border: solid grey;
            margin-top: 5px;
            width: 500px;
            height: 500px;
        }
        [v-cloak]{
            display: none;
        }
    </style>

<div id="app" v-cloak>
    <div v-if="showLoading">Loading...</div>
    <div v-if="showSignUp || showSignIn || showWelcomeBack || showSignInWrong || showSignUpTutor" id="authNavi">
        <h2>edu-rewolucja</h2>
        <i @click="showScreen('showSignIn')">Zaloguj</i>
        <i @click="showScreen('showSignUp')">Zarejestruj</i>
        <i @click="showScreen('showSignUpTutor')">Zostań korepetytorem</i>
    </div>
    <div v-if="showPanel" id="authNavi">
        <h2>edu-rewolucja</h2>
        <i @click="logout()">wyloguj</i>
    </div>
    <div v-if="showSignUp" id="signUp" class="box signup">
        <h1>Załóż konto</h1>
        email:
        <input type="email" id="Remail"><br><br>
        imie:</label>
        <input type="text" id="Rfirstname"><br><br>
        nazwisko:
        <input type="text" id="Rlastname"><br><br>
        hasło:
        <input type="password" id="Rpassword"><br><br>

        <button @click="signUpFunc()" id="signUp" type="submit">Zarejestruj</button>
    </div>
    <div v-if="showSignIn" id="signIn" class="box">
        <h1>zaloguj</h1>
        email:
        <input type="text" id="Lemail"><br><br>
        Hasło:
        <input type="password" id="Lpassword"><br><br>

        <button @click="signInFunc()" id="signIn" type="submit">Zaloguj się</button>
    </div>
    <div v-if="showWelcomeBack" id="welcomeBack" class="box">Witaj z powrotem</div>
    <div v-if="showSignInWrong" id="signInWrong" class="box">Zaloguj się - niepoprawne dane logowania</div>
    <div v-if="showSignUpTutor" id="signUpTutor" class="box">Załóż konto nauczyciela</div>
    <div v-if="showPanel" id="panel" class="panel">
        Aplikacja - dostęp tylko dla zalogowanych
        <h2> id użytkownika: {{userData.id}} typ: {{userData.account_type}} </h2>
            <div v-for="(post,index) in posts" :key="index">
                <h5> tytuł: {{post.title}} treść: {{post.content}} </h5>
          </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/vue@next"></script>
<script src="js/utils.js"></script>

<script>
    var url = "https://app.edu-rewolucja.pl"

    let app = Vue.createApp({ 
      el: "#app",

      data: function(){
        return { 
            showLoading: true,
            showSignUp: false,
            showSignIn: false,
            showWelcomeBack: false,
            showSignInWrong: false,
            showSignUpTutor: false,
            showPanel: false,
            userData: [],
            posts: [],
        };
      },

      mounted : function() {
        this.checkAuth()
        this.showScreen()
      },

      methods : {
        showScreen: function(screen) {
            const _this = this
            console.log(screen + ' opened')

            _this.showLoading = true
            
            if(screen == 'showSignUp'){
                _this.showLoading = false
                _this.showSignUp = true
                _this.showSignIn = false
                _this.showSignUpTutor = false
                _this.showPanel = false
            }
            else if(screen == 'showSignIn'){
                _this.showLoading = false
                _this.showSignUp = false
                _this.showSignIn = true
                _this.showSignUpTutor = false
                _this.showPanel = false
            }
            else if(screen == 'showSignUpTutor'){
                _this.showLoading = false
                _this.showSignUp = false
                _this.showSignIn = false
                _this.showSignUpTutor = true
                _this.showPanel = false
            }
            else if(screen == 'showPanel'){
                _this.showLoading = false
                _this.showSignUp = false
                _this.showSignIn = false
                _this.showSignUpTutor = false
                _this.showPanel = true
                _this.loadPosts()
            }
        },
        checkAuth: function(){
            const _this = this
            $.ajax({
                url: "/auth/",
                method: 'GET',
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": "Bearer "+getCookie('auth')
                },
                success: function(userData){
                    console.log(userData)
                    console.log("użytkownik jest zalogowany!")
                    _this.userData = userData
                    _this.showScreen('showPanel')
                    },
                error: function(e){
                    console.log("Zaloguj się!")
                    _this.showScreen('showSignUp')
                }
                },)
        },
        signInFunc: function(){
            const _this = this
            $.ajax({
                url: "/auth/",
                method: 'POST',
                data: { 
                    username: $('#Lemail').val(),
                    password: $('#Lpassword').val()
                    },
                contentType: 'application/x-www-form-urlencoded',
                crossDomain: true,
                success: function(a,b,c){
                    var access_token = JSON.parse(c.responseText)
                    access_token = access_token["access_token"]

                    var expire_date = new Date(new Date().getTime()+60*60*1000*720).toGMTString(); // 720h
                    document.cookie = "auth="+access_token+"; expires="+expire_date+"; path=/";
                    _this.checkAuth()
                    },
                error: function(e){}
                },)
        },
        signUpFunc: function(){
            const _this = this
            $.ajax({
                url: "/users/",
                method: 'POST',
                data: JSON.stringify({ 
                    email: $('#Remail').val(),
                    firstname: $('#Rfirstname').val(),
                    lastname: $('#Rlastname').val(),
                    password: $('#Rpassword').val()
                    }),
                contentType: 'application/json',
                success: function(){
                    _this.showScreen('showSignIn')
                    },
                error: function(e){}
                },)
        },
        loadPosts: function () {
          const _this = this
          $.ajax({
            method: "GET",
            url: url+"/posts",
            dataType: "json",
            headers: {
                "Content-Type": "application/json",
                "Authorization": "Bearer "+getCookie('auth')
            },
            success: function (posts){
                console.log(posts)
                _this.posts = posts;
           }});
        },
        logout: function(){
            const _this = this
            document.cookie = "auth=let's clean up; expires=Sat, 20 Jan 1980 12:00:00 UTC; path=/";
            _this.checkAuth()
        }
      }
    })
    app.mount('#app')
</script>
</body>
</html>
