<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/resources/style.css" rel="stylesheet">
    <title>App</title>

    <!-- Google signIn -->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="365589210157-88s142dtgt2e1hd4muaiqbj6bb96dm5b.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>

<div id="app" v-cloak>
<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Pasek nawigacyjny -->
<!-- ---------------------------------------------------------------------------------------------------- -->

    <a href="https://edu-rewolucja.pl">edu-rewolucja</a>

    <!-- Gdy user nie jest zalogowany -->
    <div v-if="!isUserAuthenticated" id="authNavi">
        <i v-if="!sc.showLoading" @click="href('SignIn')" id="SignIn">Zaloguj</i>
        <i v-if="!sc.showLoading" @click="href('SignUp')" id="SignUp">Zarejestruj</i>
    </div>

    <!-- Gdy user jest zalogowany -->
    <div v-if="isUserAuthenticated" id="authNavi">
        <i @click="href('Panel')" id="Panel">panel</i>
        <i @click="logout()">wyloguj</i>
    </div>

    <div class="container"> <!-- otwarcie containera -->
<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Kręcące się kółko ładowania -->
<!-- ---------------------------------------------------------------------------------------------------- -->

    <div v-if="showLoading" class="loading">
        <div class="loader"></div>
    </div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- zarejestruj się screen -->
<!-- ---------------------------------------------------------------------------------------------------- -->

    <div v-if="sc.showSignUp" id="signUp" class="box signup">
        <h1>Załóż konto</h1>
        email:<input :value="userData.email" v-on:keyup.enter="signUpFunc()" type="email" id="Remail" >
        <div v-if="val.emailExists" class="redWarning">Użytkownik z tym adresem e-mail już istnieje.
            <i @click="href('SignIn')" class="blueWarning">Zaloguj się</i>
        </div><!-- Błąd emaila 1 -->
        <div v-if="val.notValidREmail" class="redWarning">Nieprawidłowy adres email</div><!-- Błąd emaila 2 -->
        <br><br>
        imie:<input :value="userData.firstname" v-on:keyup.enter="signUpFunc()" type="text" id="Rfirstname">
        <div v-if="val.emptyFieldFirstname" class="redWarning">Puste pole.</div><!-- Błąd pustego pola -->
        <br><br>
        nazwisko:<input :value="userData.lastname" v-on:keyup.enter="signUpFunc()" type="text" id="Rlastname">
        <div v-if="val.emptyFieldLastname" class="redWarning">Puste pole.</div><!-- Błąd pustego pola -->
        <br><br>
        hasło:<input v-on:keyup.enter="signUpFunc()" type="password" id="Rpassword">
        <div v-if="val.passwordTooShort" class="redWarning">Za krótkie hasło</div><!-- Błąd zbyt krótkiego hasła -->
        <br><br>
        <button @click="signUpFunc()" id="signUp" type="submit">Zarejestruj</button>
    </div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Logowanie screen-->
<!-- ---------------------------------------------------------------------------------------------------- -->

    <div v-if="sc.showSignIn" id="signIn" class="box">
        <h1>Zaloguj się</h1>
        Email:<input :value="userData.email" v-on:keyup.enter="checkEmailFunc()" type="email" id="Cemail" placeholder="example@gmail.com"><br><br>
        <div v-if="val.notValidCEmail1" class="redWarning">
            Nie możemy znaleźć konta z takim adresem email
            <i @click="href('SignUp')" class="blueWarning">Stwórz nowe konto</i>
        </div><!-- Błąd emaila -->
        <div v-if="val.notValidCEmail2" class="redWarning">Podano nieprawidłowy email</div><!-- Błąd emaila -->
        <button @click="checkEmailFunc()" id="checkEmail" type="submit">Dalej</button>
    </div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Witaj ponownie screen-->
<!-- ---------------------------------------------------------------------------------------------------- -->

    <div v-if="sc.showWelcomeBack" id="welcomeBack" class="box">
        <h1>Witaj z powrotem</h1>
        <h5>{{userData.email}}</h5>
        Hasło:<input v-on:keyup.enter="signInFunc()" type="password" id="Lpassword"><br>
        <div v-if="val.notValidPassword" class="redWarning">Podano nieprawidłowe hasło</div><!-- Błąd hasła -->
        <button @click="signInFunc()" id="signIn" type="submit">Zaloguj się</button>
        <br>
        <i @click="href('SignIn')" class="blueWarning">Zaloguj za pomocą innego konta</i>
    </div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Kontakt screen -->
<!-- ---------------------------------------------------------------------------------------------------- -->

    <div v-if="sc.showContact" class="box">
        <ul>
            <li>Numer tel: 530 547 713</li>
            <li>email: edurewolucja@gmail.com</li>
        </ul>
    </div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Zarejestruj się jako nauczyciel screen -->
<!-- ---------------------------------------------------------------------------------------------------- -->

    <div v-if="sc.showSignUpTutor" id="signUpTutor" class="box">
        <b>Załóż konto nauczyciela:</b> napisz na edurewolucja@gmail.com
    </div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Polityka prywatności screen -->
<!-- ---------------------------------------------------------------------------------------------------- -->

    <div v-if="sc.showPrivacyPolicy" class="box">
        <h1>Polityka Prywatności</h1>
        <p>Sed ut et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
    </div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Warunki korzystania z aplikacji screen -->
<!-- ---------------------------------------------------------------------------------------------------- -->

<div v-if="sc.showTermsAndConditions" class="box">
    <h1>Warunki korzystania z aplikacji</h1>
    <p>totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
</div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Footer -->
<!-- ---------------------------------------------------------------------------------------------------- -->

    <div class="footer" id="footer">
        <i @click="href('SignUpTutor')" id="SignUpTutor">Zostań korepetytorem</i>
        <i @click="href('Contact')" id="Contact">Kontakt</i>
        <i @click="href('PrivacyPolicy')" id="PrivacyPolicy">Polityka Prywatności</i>
        <i @click="href('TermsAndConditions')" id="TermsAndConditions">Watunki korzystania z aplikacji</i>
    </div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Panel screen -->
<!-- ---------------------------------------------------------------------------------------------------- -->

    <div v-if="sc.showPanel" id="panel" class="panel">
        Aplikacja - dostęp tylko dla zalogowanych
        <h2> id użytkownika: {{userData.id}} typ: {{userData.account_type}} </h2>
            <div v-for="(post,index) in posts" :key="index">
                <h5> tytuł: {{post.title}} treść: {{post.content}} </h5>
            </div>
    </div>
    
</div> <!-- zamknięcie containera -->
<!-- ---------------------------------------------------------------------------------------------------- -->
</div>

<script>
    // odczytywanie z linku który screen aplikacja ma otworzyć
    // a gdybym w przyszłości zrobił screen który nie ma przycisku który przeniósłby na odpowiedni ->
    // -> screen to zawsze można zrobić ukrytą listę stron i z niej "klikać" 
    window.onhashchange = function(){
        var url = window.location.href
        hash = url.split('#')[1];
        if (hash) {
            // $(".loading").css("display", "none");
            document.getElementById(hash).click();
        } 
    }
</script>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Importowanie zasobów -->
<!-- ---------------------------------------------------------------------------------------------------- -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/vue@next"></script>
<script src="resources/utils.js"></script>
<script src="resources/vue.js"></script>



<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      }
    </script>



    <a href="#" onclick="signOut();">Sign out</a>
    <script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
        console.log('User signed out.');
        });
    }
    </script>

</body>
</html>
