<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/resources/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap" rel="stylesheet">
    <title>App</title>

    <!-- Google signIn -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>

<div id="app" v-cloak>
<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Pasek nawigacyjny -->
<!-- ---------------------------------------------------------------------------------------------------- -->
    <div class="menu forPanel">
        <img v-if="isUserAuthenticated && !sc.showPanel" @click="backArrowFunc()" id="Panel" class="backArrow" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Google_material_icons_arrow_back_24px.svg/1024px-Google_material_icons_arrow_back_24px.svg.png">
        <a href="https://edu-rewolucja.pl" class="brand">edu-rewolucja</a>

        <!-- Gdy user nie jest zalogowany -->
        <div v-if="!isUserAuthenticated" id="authNavi" class="menu right">
            <a v-if="!sc.showLoading" @click="href('SignIn')" id="SignIn">Zaloguj się </a>
            <a v-if="!sc.showLoading" @click="href('SignUp')" id="SignUp">Zarejestruj</a>
        </div>

        <!-- Gdy user jest zalogowany -->
        <div v-if="isUserAuthenticated" id="authNavi" class="menu right">
            <i class="opacity50">id użytkownika: {{userData.id}} typ: {{userData.account_type}}</i>
            <a @click="logout()">wyloguj</a>
            <!-- <img v-bind:src="'/users/picture/'+userData.id" height="40"> ta metoda nie wczytuje zdjęcia za pierwszym razem :/ -->
        </div>
    </div>

    <div class="container"> <!-- otwarcie containera -->
<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Kręcące się kółko ładowania -->
<!-- ---------------------------------------------------------------------------------------------------- -->

    <div v-if="showLoading" class="loading">
        <div class="loader"></div>
    </div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- zarejestruj się screen -->
<!-- ---------------------------------------------------------------------------------------------------- -->

    <div v-if="sc.showSignUp" id="signUp" class="box signup">

        <h1>Załóż konto</h1>

        <br>
        email:<input :value="userData.email" v-on:keyup.enter="signUpFunc()" type="email" id="Remail" >
        <div v-if="val.emailExists" class="redWarning">Użytkownik z tym adresem e-mail już istnieje.
            <i @click="href('SignIn')" class="blueWarning">Zaloguj się</i>
        </div><!-- Błąd emaila 1 -->
        <div v-if="val.notValidREmail" class="redWarning">Nieprawidłowy adres email</div><!-- Błąd emaila 2 -->
        <br><br>
        imie:<input :value="userData.firstname" v-on:keyup.enter="signUpFunc()" type="text" id="Rfirstname">
        <div v-if="val.emptyFieldFirstname" class="redWarning">Puste pole.</div><!-- Błąd pustego pola -->
        <br><br>
        nazwisko:<input :value="userData.lastname" v-on:keyup.enter="signUpFunc()" type="text" id="Rlastname">
        <div v-if="val.emptyFieldLastname" class="redWarning">Puste pole.</div><!-- Błąd pustego pola -->
        <br><br>
        hasło:<input v-on:keyup.enter="signUpFunc()" type="password" id="Rpassword">
        <div v-if="val.passwordTooShort" class="redWarning">Za krótkie hasło</div><!-- Błąd zbyt krótkiego hasła -->
        <br><br>
        <button @click="signUpFunc()" id="signUp" type="submit">Zarejestruj</button>
    </div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Kontakt screen -->
<!-- ---------------------------------------------------------------------------------------------------- -->

    <div v-if="sc.showContact" class="box">
        <ul>
            <li>Numer tel: 530 547 713</li>
            <li>email: edurewolucja@gmail.com</li>
        </ul>
    </div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Zarejestruj się jako nauczyciel screen -->
<!-- ---------------------------------------------------------------------------------------------------- -->

    <div v-if="sc.showSignUpTutor" id="signUpTutor" class="box">
        <b>Załóż konto nauczyciela:</b> napisz na edurewolucja@gmail.com
    </div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Polityka prywatności screen -->
<!-- ---------------------------------------------------------------------------------------------------- -->

    <div v-if="sc.showPrivacyPolicy" class="box">
        <h1>Polityka Prywatności</h1>
        <p>Sed ut et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
    </div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Warunki korzystania z aplikacji screen -->
<!-- ---------------------------------------------------------------------------------------------------- -->

<div v-if="sc.showTermsAndConditions" class="box">
    <h1>Warunki korzystania z aplikacji</h1>
    <p>totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
</div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Footer -->
<!-- ---------------------------------------------------------------------------------------------------- -->

    <div class="footer" id="footer">
        <i class="footerItem" @click="href('SignUpTutor')" id="SignUpTutor">Zostań korepetytorem</i>
        <i class="footerItem" @click="href('Contact')" id="Contact">Kontakt</i>
        <i class="footerItem" @click="href('PrivacyPolicy')">Polityka Prywatności</i>
        <i class="footerItem" @click="href('TermsAndConditions')" id="TermsAndConditions">Watunki korzystania z aplikacji</i>
    </div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Lista osób - pusher -->
<!-- ---------------------------------------------------------------------------------------------------- -->

    <!-- <div class="friendList">
        <h2>Lista osób</h2>
        <li v-for="message in messages">
            {{message}}
          </li>
    </div> -->


<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Panel screen -->
<!-- ---------------------------------------------------------------------------------------------------- -->

    <div v-if="sc.showPanel" id="panel" class="panel">
        Twoje zajęcia
            <a v-for="(class_,index) in classes" :key="index" class="class"  v-bind:id="'Class'+class_.id" @click="href('Class'+class_.id)">
                <h5> przedmiot: {{class_.subject}}</h5>
                <h5 v-if="userData.account_type == 'tutor'"> uczeń: {{class_.firstname}} {{class_.lastname}}</h5>
                <h5 v-if="userData.account_type == 'student'"> nauczyciel: {{class_.firstname}} {{class_.lastname}}</h5>
                <div v-for="schedule in schedules[index]"> 
                    {{schedule.day}} {{schedule.hour}}:00<br>
                </div>
            </a>
            <img @click="href('Newclass1')" id="Newclass1" class="plusIcon" src="https://cdn0.iconfinder.com/data/icons/very-basic-2-android-l-lollipop-icon-pack/24/plus-512.png">
    </div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Class screen -->
<!-- ---------------------------------------------------------------------------------------------------- -->

<div v-if="sc.showClass" id="class" class="panel">
    <div v-for="curr in currClass"><b>{{curr.subject}}</b>
        <div v-for="currSchedule in currSchedules"> 
            {{currSchedule.day}}: {{currSchedule.hour}}:00<br>
        </div>
        <div class="makePost">
            <input @click="expandFormFunc()" v-model="newPost.title" placeholder="Ogłoś coś...">
            <textarea v-if="expandForm" v-model="newPost.content" placeholder="Opis" rows="6"></textarea>
            <br>
            <button v-if="expandForm" @click="submitPost(curr.id)">Wyślij</button>
            <button v-if="expandForm" @click="hideForm()">Anuluj</button>
        </div>
    </div>
    <div v-for="(post,index) in posts" :key="index" class="class post" v-bind:id="'Post'+post.id" @click="href('Post'+post.id)">
        <h5> tytuł: {{post.title}}</h5>
        <h5> data: {{post.created_at}}</h5>
        <h5> content: {{post.content}}</h5>
    </div>
</div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Post screen -->
<!-- ---------------------------------------------------------------------------------------------------- -->

<div v-if="sc.showPost" v-for="curr in currPost" id="post" class="panel">
    <h1>Tytuł: {{curr.title}}</h1>
    <h3>{{curr.created_at}}</h3>
    <h2>Opis: {{curr.content}}</h2>
    <br>
    W przyszłości: komentarze i załączone pliki
    

    <div v-bind:id="'Class'+curr.class_id" @click="href('Class'+curr.class_id)">&nbsp</div> <!--  div potrzebny do nawigacji -->
</div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- New Class1 -->
<!-- ---------------------------------------------------------------------------------------------------- -->

<div v-if="sc.showNewclass1" class="panel">
    Czego chcesz się uczyć?
        <div v-for="">
            <div @click="href('Newclass2');" class="choose">matematyka</div>
            <br>
            <!-- <div @click="href('Newclass2'); select({{subject}})" class="chooseSubject">angielski</div> -->
        </div>
</div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- New Class2 -->
<!-- ---------------------------------------------------------------------------------------------------- -->

<div v-if="sc.showNewclass2" class="panel">
    Wybierz nauczyciela
        <div v-for="">
            <img>
            <div @click="href('Newclass3');" class="choose tutor">
                Tomek Mróz
                <div>lekcji:</div>
                <div>stopień:</div>
            </div>
            <br>

        </div>
</div>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- New Class3 -->
<!-- ---------------------------------------------------------------------------------------------------- -->

<div v-if="sc.showNewclass3" class="panel">
    Wybierz termin pierwszej lekcji
        <div>
            lekcji subcject
            wtorek 23 lipca

            <br>
            <button @click="href('Panel');">Zapisz</button>
        </div>
</div>
    
</div> <!-- zamknięcie containera -->
<!-- ---------------------------------------------------------------------------------------------------- -->
</div>

<script>
    // odczytywanie z linku który screen aplikacja ma otworzyć
    // a gdybym w przyszłości zrobił screen który nie ma przycisku który przeniósłby na odpowiedni ->
    // -> screen to zawsze można zrobić ukrytą listę stron i z niej "klikać" 
    window.onhashchange = function(){
        var url = window.location.href
        hash = url.split('#')[1];
        if (hash) {
            document.getElementById(hash).click();
        } 
    }
</script>

<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Importowanie zasobów -->
<!-- ---------------------------------------------------------------------------------------------------- -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="resources/utils.js"></script>
<script src="resources/vue.js"></script>

<script src="https://js.pusher.com/7.1/pusher.min.js"></script>


<!-- <script>
    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = false;

    var pusher = new Pusher('94fb841a5b6a5b0fd651', {
      cluster: 'eu'
    });

    var channel = pusher.subscribe('frontend');
    channel.bind('privacy-policy', function(data) {
        // alert("przeniesiemy cie na polityke prywatnosci")
        app.messages.push(JSON.stringify(data));
        console.log(data)
    })
</script> -->

</body>
</html>
