[v-cloak]{
    display: none;
}
*{
    font-family: 'Inter', sans-serif;
}
body{
    margin: 0;
}
.signup{
    background-color: #E2E2E2;
}
.signin{
    background-color: #F4E4FF;
}
.box{
    background-color: #FFFFFF;
    width: 400px;
    height: 600px;
    padding: 15px;
    /* position: absolute; */
}
.box.signin{
    height: 500px;
}
.box.welcomeback{
    height: 400px;
}
.panel{
    background-color: rgb(212, 212, 208);
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}
.class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #035509;
    font-size: 1rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.class:hover{
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
}
.class.post{
    background: #2d0bf1;
}
.backArrow{
    height: 35px;
}
.menu{
    font-size: large;
}
.menu.forPanel{
    background-color: #F4F4F4;
}
.menu.right{
    float: right;
}
.brand{
    font-size: 30px;
    font-weight: 600;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.footerItem{
    margin-left: 10px;
    margin-right: 10px;
}
.loading{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100px;
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #1c2429; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.redWarning{
    color: red;
}.blueWarning{
    color: blue;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.opacity50{
    opacity: 0.5;
}
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    opacity: 0.5;
}

.strike > span {
    position: relative;
    display: inline-block;
}
.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: black;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
input {
    border: none;
    border-bottom: 1px solid rgb(122, 122, 122);
    width: 100%;
    height: 25px;
    margin-top: 25px;
}
button{
    float: right;
    margin-top: 25px;
    background: #8DCCF0;
    color: black;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 25px;
}
.post{
    background-color: aquamarine;
}


























